/* hide all elements to have them animate in when on screen */
#skills tr td strong {
  visibility: hidden;
}

#skills tr td i {
  visibility: hidden;
}


#learning tr td span {
  visibility: hidden;
}

#certs {
  visibility: hidden;
}